@import "./constants.css";
@import "./fonts.css";

* {
  box-sizing: border-box;
  color: var(--color-black-00);
  font-family: "Gilroy-Medium", sans-serif;
}

.main {
  background-color: var(--color-gray-f9);
  padding: 0 80px;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.container {
}
