:root {
  --color-black-00: #000000;
  --color-white-ff: #ffffff;
  --color-gray-8B: #8b8ba5;
  --color-gray-9E: #9e9da2;
  --color-gray-f9: #f9f9f9;
  --color-green-75: #75bf7a;
  --color-green-11: rgba(117, 191, 122, 0.5);
  --color-blue-27: #272042;
}
