@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"),
    /*TODO:: add WOFF2*/ url("./fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Gilroy"),
    /*TODO:: add WOFF2*/ url("./fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: local("Gilroy"),
    /*TODO:: add WOFF2*/ url("./fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
    /*TODO:: add WOFF2*/ url("./fonts/Gilroy-ExtraBold.woff") format("woff");
}
